In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import os

In [7]:

movies = pd.read_csv('Data/tmdb_5000_movies.csv')
credits = pd.read_csv('Data/tmdb_5000_credits.csv')

In [9]:
movies=movies.merge(credits, on= 'title')

In [10]:
movies.shape

(4809, 23)

In [11]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [13]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [14]:
movies.shape

(4809, 7)

In [15]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
movies.dropna(inplace=True)

In [17]:
movies.shape

(4806, 7)

In [18]:
movies.duplicated().sum()

np.int64(0)

In [19]:
# Remove the brackets and all in dictionaries

import ast
def convert(text):
    l=[]
    for i in ast.literal_eval(text): #converting it into list
        l.append(i['name'])
    
    return l

In [20]:
movies['genres'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [21]:
movies['genres']=movies['genres'].apply(convert)

In [22]:
movies['keywords']=movies['keywords'].apply(convert)

In [23]:
def convert_cast(text):
    l=[]
    counter=0
    for i in ast.literal_eval(text): #converting it into list
        if counter<3:
            l.append(i['name'])
        counter+=1
    
    return l

In [24]:
movies['cast']=movies['cast'].apply(convert_cast)

In [25]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [27]:
#fetching the director of the movie

def fetch_director(text):
    l=[]
    for i in ast.literal_eval(text): #converting it into list
        if i['job']=='Director':
            l.append(i['name'])
            break
    return l

In [28]:
movies['crew']=movies['crew'].apply(fetch_director)

In [29]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [30]:
movies['overview']=movies['overview'].apply(lambda x: x.split())
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [31]:
# Sam Worthington - SamWorthington
def remove_space(word):
    l=[]
    for i in word:
        l.append(i.replace(" ",""))

    return l

In [32]:
movies['cast']=movies['cast'].apply(remove_space)
movies['crew']=movies['crew'].apply(remove_space)
movies['genres']=movies['genres'].apply(remove_space)
movies['keywords']=movies['keywords'].apply(remove_space)

In [33]:
movies['tag']=movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [35]:
new_df=movies[['movie_id','title','tag']]

In [36]:
new_df['tag']=new_df['tag'].apply(lambda x: " ".join(x))

C:\Users\JK\AppData\Local\Temp\ipykernel_21392\2671889383.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x: " ".join(x))

In [38]:
new_df.iloc[0]['tag']

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [39]:
new_df['tag']=new_df['tag'].apply(lambda x: x.lower())

C:\Users\JK\AppData\Local\Temp\ipykernel_21392\2370209156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x: x.lower())

In [43]:
import nltk
from nltk.stem import PorterStemmer

In [44]:
ps=PorterStemmer()

In [45]:
def stems(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    
    return " ".join(l)

In [46]:
new_df['tag']=new_df['tag'].apply(stems)

C:\Users\JK\AppData\Local\Temp\ipykernel_21392\933816374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(stems)

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000, stop_words='english')

In [49]:
vector= cv.fit_transform(new_df['tag']).toarray()

In [51]:
vector.shape
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4806, 5000))

In [61]:
# Cosine similarity

from sklearn.metrics.pairwise import cosine_similarity
similar=cosine_similarity(vector)

In [65]:
similar

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]], shape=(4806, 4806))

In [62]:
new_df[new_df['title'] == 'Spider-Man'].index[0]

np.int64(159)

In [66]:
def recommend(movie):
    index= new_df[new_df['title'] == movie].index[0]
    distance = sorted(list(enumerate(similar[index])), reverse=True , key=lambda x: x[1])

    for i in distance[1:6]:
        print(new_df.iloc[i[0]].title)

In [67]:
recommend('Spider-Man')

Spider-Man 3
Spider-Man 2
The Amazing Spider-Man 2
Arachnophobia
Kick-Ass

In [70]:
import pickle
pickle.dump(new_df, open('artificats/movie_list.pkl','wb'))
pickle.dump(similar, open('artificats/similarity.pkl','wb'))